<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>À propos</title>
        
    </head>
    <body>
 <!--navbar
 <nav class="navbar  navbar-expand-lg mt-4 " id="navbar">
  <div class="container-fluid ">
    <a class="navbar-brand "  href="accueil.html" >
      <div class="flex-row flex-wrap bd-navbar-nav ">
        <div class="col-1 col-md-auto "  routerLink="/accueil" >
        <img  class="logo0 " id="logoi" src="assets/images/logo.svg" width="15px" >
        <p id="logon" >Cumulus</p>
        </div>
        </div>
    </a>

    <button id="nav-toggle-button"class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse " id="bdNavbar">
    <ul class="navbar-nav  justify-content-start ms-4 mb-1">
       <li class="nav-item active col-md-auto">
        <a><button class="nav-link nav-link1"  class="btn envoyer"  routerLink="/accueil">Accueil </button></a>
        </li>
        <li class="nav-item col-md-auto">
        <a><button class="nav-link nav-link1"  class="btn envoyer"   routerLink="/catalogue">Catalogue </button></a>
        </li>
        <li class="nav-item col-md-auto">
        <a><button class="nav-link nav-link1"  class="btn envoyer"  routerLink="/apropos">À propos</button></a>
        </li>
        <li class="nav-item col-md-auto">
        <a><button class="nav-link nav-link1"  class="btn envoyer"   routerLink="/contact">Contact</button></a>
        </li>
    </ul>
            
              <ul class="navbar-nav  w-100 justify-content-end ms-4 mb-3 mt-2">
              <li class="nav-item">
                <a class="nav-link ms-1 " href="#">
                    <a class="search" title="Recherche"> <input class="form-control " type="text"   aria-label="Search" >       
                </a>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link ms-1 " href="#">
                    <a class="panier navbar-nav-svg d-inline-block align-text" title="Panier">       
                </a>
                </a>
              </li>
             
             
              <li class="nav-item ">
                <a class="nav-link ms-1 " >
                    <a  class="user" title="Connexion" (click)="log()"></a> 
                            <li class="nav-item col-md-auto">
                       <li><a  class="nav-link nav-link1"  (click)="log()">Catalogue </a></li>   </a>
              </li>
              
              <li >
                  <div >
                  <button type="button" class="btn dropdown-toggle text-center  p-1" data-bs-toggle="dropdown" >
                  <img src="/assets/icons/francais.png" width="25px" ></button>
                  <div class="dropdown-menu">
                  <a class="dropdown-item p-1"href="#" >
                  <img src="/assets/icons/anglais.png" width="25px" ></a>
                  </div></div>
            <li class="nav-item ms-3" id="ldbtn">
                    <div id="ball" class="text-center" >
                        <input type="checkbox" class="checkbox" id="checkbox">
                        <label for="checkbox" class="label" >
                        <img src="/assets/icons/light.svg" width="8px" id="ilight" >
                        <img src="/assets/icons/dark.svg" width="8px" id="idark">
                        <div class="ball"></div>
                        </label></div></li>

      </ul>
    </div>
  </div>
</nav> -->


 <!--chatbot-->
 


<!--End chatbot-->


        <!--header--> 
        <section class="cumulus"  >
        <div class="container container-fluid flex-wrap mt-5" width="auto">
       <div class="row flex-row flex-wrap mt-5 d-flex justify-content-center" >
           <div class="col-md-6 fw-bold" >
        <h5 class="fw-bold">Cumulus, la solution à tous vos problèmes.</h5>
        <h1 class=" mt-4 fw-bold">Qui sommes nous ? </h1>
        <p class="col-md-10 lead mt-4 mb-4">Cumulus fournit des solutions pour tous les secteurs, par le biais de combinaisons éprouvées de produits et services cloud. 
          Relevez les défis propres à votre secteur aujourd’hui, 
          et préparez l’avenir en innovant avec les solutions Cumulus.</p>
            <a  class="scroll-down" width="auto"><p class="d-flex justify-content-center ESP">En savoir plus →</p></a>  
           </div>
           
        
           <div class="col-md-6 ">
                <img src="/assets/images/qui.svg"  class="img-fluid img-responsive mx-auto d-block  mb-5 mt-2" width="60%">
           </div>

       </div>
      </div>
    </section>
<!--header-->

<!--notre vision-->
<section class="vision">
<div class="container container-fluid" width="auto">
  <div class="row flex-row flex-wrap d-flex justify-content-center" >
        <div class="col-md-6">
        <img src="/assets/images/notre.svg" class=" img-fluid img-responsive mt-3" width="60%" id="iv">
       </div>
       <div class="col-md-6">
      <h2 class="mt-3 fw-bold">Notre vision</h2>
      <h5 class="fw-bold">Le future choisit cumulus.</h5>
      <p class="col-md-10 mt-1 mb-5 lead " >Nous choisissons les personnes que nous contactons et  la façon dont nous nous connectons avec elles précisément.
        Nous voulons investir à l’échelle mondiale dans le développement des prochains leaders de l’industrie technologique. 
        Et nous recherchons des candidats d’horizons divers pour nous aider à faire de notre mieux à ce jour.
      </p>
       </div>
       </div>
      </div>
      
   <!--notre vision-->

 <!--Comment-->
 
  <div class="container container-fluid mt-1">
  <h2 class="text-center mb-5 fw-bold" >Comment ça fonctionne ?</h2>
  

  <div class="row flex-row flex-wrap d-flex  mt-1 " width="auto" >
  <div class="col-md-7">
    <h5 class="fw-bold">Cumulus, la clé du succès.</h5>
    <p class="col-10 mt-3 mb-5 lead " >Cumulus est une plateforme ergonomique très simple à utiliser, il suffit de créer son compte
    d'accéder à son profile et puis de tout simplement gérer ses services à travers le tableau de bord, pour plus d'informations veuillez 
    regarder cette vidéo explicative →
    </p>
</div>
<div class="col-md-5 mt-2 mb-5" width="auto" >
<img src="/assets/images/video.png" class="img-fluid img-responsive text-center"  width="90%">
</div>
</div></div>
</section>
<!--End Comment-->

      <!--Methode-->
      
       
     <div class="container container-fluid  mt-5 mb-5" >
      <h2 class="text-center mb-5" >Notre méthode de travail</h2>  
        <div class="row flex-row flex-wrap d-flex  mt-5 " width="auto" >
            <div class="col-md-4  mt-5">
            <img src="/assets/images/m1.svg" class="img-fluid img-responsive IM" width="25%" id="M">
            <p class="TM text-center"> On passe par une phase de documentation.</p> 
            </div>
            
            <div class="col-md-4  mt-5">
             <img src="/assets/images/m2.svg" class="img-fluid img-responsive IM" width="25%" id="M">
             <p  class="TM  text-center"> On communique avec les prospects.</p> 
             </div>
             <div class="col-md-4  mt-5" >
               <img src="/assets/images/m3.svg" class="img-fluid img-responsive IM" width="25%" id="M">
               <p  class="TM text-center"> On choisis les les personnes impliquées.</p> 
               </div>
         </div>
         <div class="row flex-row flex-wrap mt-5 ">
           <div class="col-md-4  mt-5">
             <img src="/assets/images/m4.svg" class="img-fluid img-responsive IM" width="25%" id="M">
             <p class="TM text-center">
              On optimise le financement de chaque opération.</p> 
             </div>
             <div class="col-md-4  mt-5">
               <img src="/assets/images/m5.svg" class="img-fluid img-responsive IM" width="25%" id="M">
               <p class="TM text-center">On crée des solutions efficaces et optimales.</p> 
               </div>
               <div class="col-md-4  mt-5"  >
                 <img src="/assets/images/m6.svg" class="img-fluid img-responsive IM mt-3" width="25%" id="M">
                 <p class="TM text-center">On vous fournit des services cloud d'une qualité supérieure.</p> 
                 </div>
         </div>
     </div>
     
       <!-- end Methode-->

       <!-- Solution-->
       
       <div class="container container-fluid  mt-5 mb-5">
        <h2 class="justify-content-start mb-5" >Nos solutions</h2>  
          <div class= "mt-5 d-flex justify-content-around row" id="solution"  >
      

     <div class="card col-md-2 text-center" id="card">
        <img  src="/assets/images/iaas.svg" class="card-img-top d-block mx-auto img-fluid img-responsive mt-5 s-img">
        <div class="card-body mt-5">
            <h3> <p class="card-title  fw-bold" >IaaS</p></h3>
             <p class="card-text  text-wrap ">Infrastructure as a service fournit des ressources cloud.</p>   
           </div>
     </div>
     
     <div class="card col-md-2 text-center"  id="card">
      <img src="/assets/images/paas.svg" class=" d-block mx-auto mt-4  s-img">
        <div class="card-body mt-3">
            <h3> <p class="card-title  fw-bold" >PaaS</p></h3>
             <p class="card-text text-wrap ">Platform as a service est un environnement de développement.</p>   
           </div>
     </div> 
     <div class="card col-md-2 text-center"  id="card">
        <img  src="/assets/images/saas.svg" class=" d-block mx-auto img-fluid img-responsive mt-5  s-img">
        <div class="card-body mt-5">
            <h3> <p class="card-title  fw-bold" >SaaS</p></h3>
             <p class="card-text text-wrap ">Software as a service permet de se connecter au cloud.</p>   
           </div>
     </div>
     <div class="card col-md-2 text-center"  id="card">
      <img src="/assets/images/paas.svg" class=" d-block mx-auto mt-4  s-img">
        <div class="card-body mt-4">
            <h3> <p class="card-title  fw-bold" >Backup</p></h3>
             <p class="card-text text-wrap ">Backup vous permet de protéger tout ce qui est essentiel pour vous.</p>   
           </div>
    </div>

</div>
</div>
       <!-- end solution-->

<!-- clients-->
   <section id="clients" >
    <h2 class="text-center  mt-5 ">Nos clients</h2>
    <div class="container flex-wrap mt-5">
    
    <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">

     <div class="carousel-inner" >

       <div class="carousel-item active"  >
         <div class=" d-flex justify-content-center">
          <img src="/assets/images/client1.png" width="8%" height="8%" > 
          <img src="/assets/images/client2.png" width="8%" height="8%" >
          <img src="/assets/images/client3.png" width="8%" height="8%"> 
          <img src="/assets/images/client4.png" width="8%" height="8%">
         </div>
       </div>

      

       <div class="carousel-item " data-bs-interval="2000" >
         <div class=" d-flex justify-content-center">
          <img src="/assets/images/client1.png" width="8%" height="8%" > 
          <img src="/assets/images/client2.png" width="8%" height="8%" >
          <img src="/assets/images/client3.png" width="8%" height="8%"> 
          <img src="/assets/images/client4.png" width="8%" height="8%">
         </div>
        
       </div>
      
       </div>
     
     
     <button class="carousel-control-prev flex-wrap" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev" >
       <span  aria-hidden="true"><img src="/assets/icons/gauche.svg" width="65%"></span>
       <span class="visually-hidden">Previous</span>
     </button>
 
     <button class="carousel-control-next flex-wrap" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next"  >
       <span aria-hidden="true"><img src="/assets/icons/droite.svg" width="65%" ></span>
       <span class="visually-hidden">Next</span>
     </button>
    </div>
   
  </div>

 </section>
  <!--End clients-->


   <!--equipe-->
   <div class="container container-fluid">
   <div class="row flex-row flex-wrap mt-5">
    <div  class="col-md-6">
<h2 class="">Notre Équipe</h2> 
<h5 class="mt-5">Le travail d'équipe est essentiel.</h5>
</div>
<div class="col-md-6">
 <p class="mt-4"> Les meilleures choses qui arrivent dans le monde 
   de l’entreprise ne sont pas le résultat du travail d’un seul homme. C’est le travail de toute une équipe.</p>
</div>
</div>

 <div class="row flex-row flex-wrap mt-5"  >
     <div class="col-md-2">
         <img src="/assets/images/e1.png" class="d-block mx-auto img-fluid img-responsive" width="90%">
         <p class="text-center  mt-3 mb-1">Mohammed Masri</p>
         <p class="text-center  mb-3">Webdesigner</p>
          </div>
          <div class="col-md-2">
             <img src="/assets/images/e2.png" class="d-block mx-auto img-fluid img-responsive" width="90%">
             <p class="text-center  mt-3 mb-1">Sarra Mehrzi</p>
             <p class="text-center   mb-3">Développeur</p>
              </div>
              <div class="col-md-2">
                 <img src="/assets/images/e3.png" class="d-block mx-auto img-fluid img-responsive" width="90%">
                 <p class="text-center  mt-3 mb-1">Ali Farhat</p>
                 <p class="text-center   mb-3">Webmarketeur</p>
                  </div>
                  <div class="col-md-2">
                     <img src="/assets/images/e4.png" class="d-block mx-auto img-fluid img-responsive" width="90%">
                     <p class="text-center  mt-3 mb-1">Khalil Tmesk</p>
                     <p class="text-center mb-3">Rédacteur web</p>
                      </div>
                      <div class="col-md-2">
                         <img src="/assets/images/e5.png" class="d-block mx-auto img-fluid img-responsive"  width="90%">
                         <p class="text-center  mt-3 mb-1">Leila Ghzel</p>
                         <p class="text-center  mb-3">Community manager</p>
                          </div>
                          <div class="col-md-2">
                             <img src="/assets/images/e6.png" class="d-block mx-auto img-fluid img-responsive"  width="90%">
                             <p class="text-center  mt-3 mb-1">Khaled Farah</p>
                             <p class="text-center mb-3">Chef de projet</p>
                              </div>
 </div>

</div>
<!--end equipe-->

  <!-- Back to top button -->
<button type="button" class="btn btn-danger btn-floating btn-lg text-center" id="btn-back-to-top" >
  <i class="fas fa-arrow-up"></i>
</button>
<!-- Back to top button -->


         
         
         

</body>
</html>  