<div class="footer-container" style="margin-right: -150px; ">
  <footer class="site-footer" >
  <div class="row m-5 ">
    <div class="col-md-2 m-5">
      <div class="row bd-navbar-nav">
        <div class="col-md-1 col-md-auto " >
        <img  class="logo0 " id="logoi" src="assets/icons/logol.png" width="15px"> </div>
        <div class="col-md-1">
          <h2 id="logon" >Cumulus</h2>
        </div>
        </div>
    </div>
    <div class="col-md-2">
      <h6><b>Explorer Cumulus</b></h6>
      <p>Qui sommes nous?</p>
      <p>Nos services</p>
      <p>Nos solution</p>
      <p>Contactez nous</p>
      <p>Bien démarrer</p>
    </div>
    <div class="col-md-2">
      <h6><b>Ressources</b></h6>
      <p>Documentation</p>
      <p>Support technique</p>
      <p>FAQ</p>
      <p>Confidentialité</p>
      <p>Termes et conditions</p>
    </div>
    <div class="col-md-4">
      <h6><b>Contact</b></h6>
      <p>(+216) 70 102 400</p>
      <p>contact.otbs@onetech-group.com</p>
      <p>16, Rue des Entrepreneurs.2035 Charguia 2 , Tunisie</p>
      <p> <b>OneTech B.S-All Rights Reserved</b> </p>
  
    </div>
  </div>
</footer>
</div>