
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 zoom-80">
            <h4 class="text-primary font-weight-bold"> <br><br>
                Créer votre propre espace de travail ou rejoindre un espace existant.</h4> <br> <br>
            <h2 class="mt-4"><b>Créer Votre Entreprise</b></h2> 
            <p class="mt-4 " style="font-size: 30px;">Cette initiative vise à encourager les entreprises à <br>
                créer leur propre espace de travail personnalisé sur <br>
                notre plateforme en leur offrant des solutions cloud  <br>
                adaptées à leurs besoins.</p> <br>
                <button class="create-button ms-3 btn" routerLink="/entreprise/create">Créer</button>
                <button class="join-button ms-3 btn" routerLink="/entreprise/join">Rejoindre</button>
        </div>
       <div class="col-md-4">
            <img src="assets/icons/add-entreprise.svg" alt="add-entreprise" class="header-img">
        </div>
    </div>
</div>

<br><br><br><br><br>