<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact</title>
</head>
<body>
    <!--navbar-->

    <!--END NAV-->

    <!--chatbot-->

    <!--End chatbot-->




    <div class="container container-fluid mt-5 mb-5">
        <div class="row flex-row flex-wrap d-flex  mt-5">
            <div class="col-md-6">
                <h5>N'oubliez pas que Cloudy est à votre disposition.</h5>
                <h1 class="mt-3">Contactez-nous !</h1>
                <h6 class="fw-bold mt-3">Cloudy</h6>
                <p class="col-md-9 p1">Cloudy est là pour répondre à toutes vos
                    questions et vous guider afin de vous offrir une
                    expérience optimale. Son utilisation est très simple il suffit de lui taper un message ou encore de
                    lui envoyer
                    un message vocal dans la langue de votre choix.</p>
                <h6 class="fw-bold mt-3">Contact</h6>
                <p class="col-md-9 p1">
                    Téléphone : (+216) 70 102 400 <br>
                    Adresse mail : contact.otbs@onetech-group.com <br>
                    Adresse : 16, Rue des Entrepreneurs. 2035 Charguia II, Tunis - Tunisie</p>
            </div>


            <div class="col-md-6 mt-5" id="icont">
                <h4 class="mt-5" id="Salut">Salut !</h4>
                <img src="/assets/images/contact.png" class="img-fluid img-responsive mt-2 mb-3 ms-5 contact"
                    width="30%" width="auto">
            </div>

        </div>













    </div>

    <!-- Back to top button -->
    <button type="button" class="btn btn-danger btn-floating btn-lg text-center" id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <!-- Back to top button -->




</body>

</html>