.grer-les-entreprises {
    position: absolute;
    top: 2229px;
    left: 159px;
    font-size: var(--font-size-13xl);
  }
  .accueil {
    position: relative;
    line-height: 150%;
    font-weight: 500;
  }
  .logo-with-company-name-child {
    position: relative;
    width: 95.99px;
    height: 14.6px;
  }
  .logo-with-company-name {
    position: absolute;
    height: 1.84%;
    width: 5.55%;
    top: 5.55%;
    right: 85.24%;
    bottom: 92.61%;
    left: 9.2%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs) 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .image-37-icon,
  .image-39-icon {
    position: absolute;
    height: 44.03%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 55.97%;
    left: 0;
    border-radius: var(--br-11xs);
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .image-39-icon {
    top: 56.6%;
    bottom: -0.63%;
    opacity: 0;
  }
  .flags {
    position: absolute;
    top: 95px;
    left: 1539px;
    width: 30px;
    height: 53px;
  }
  .search1 {
    flex: 1;
    position: relative;
    letter-spacing: -0.32px;
    opacity: 0.4;
  }
  .admin-des-entreprises-voir-don-child,
  .search {
    position: absolute;
    box-sizing: border-box;
    opacity: 0.5;
  }
  .search {
    height: 2.61%;
    width: 11.54%;
    top: 5.2%;
    right: 12.98%;
    bottom: 92.18%;
    left: 75.48%;
    border-radius: var(--br-9xs);
    box-shadow: 0 0 0#cbdafc;
    border: 0.7px solid var(--dark-gray);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-xs);
    align-items: center;
    justify-content: center;
    font-size: var(--forms-input-label-default-size);
    font-family: var(--forms-input-label-large);
  }
  .admin-des-entreprises-voir-don-child {
    top: 1068.5px;
    left: 1139.5px;
    border-right: 1px solid var(--gray);
    width: 1px;
    height: 527px;
  }
  .group-child,
  .group-inner,
  .group-item {
    position: absolute;
    top: calc(50% + 225.24px);
    left: calc(50% - 25.72px);
    border-radius: 50%;
    background-color: var(--purple);
    width: 136.57px;
    height: 137.64px;
    transform: rotate(-117.83deg);
    transform-origin: 0 0;
  }
  .group-inner,
  .group-item {
    top: calc(50% + 110.99px);
    left: calc(50% + 64.84px);
    background-color: var(--dark-blue);
    width: 91.98px;
    height: 91.98px;
    transform: rotate(115.66deg);
  }
  .group-inner {
    top: calc(50% + 124.23px);
    left: calc(50% - 10.51px);
    background-color: var(--dark-gray);
    width: 22.99px;
    height: 22.99px;
    transform: rotate(-14.31deg);
  }
  .ellipse-icon {
    position: absolute;
    top: calc(50% + 18px);
    left: calc(50% + 3.5px);
    width: 97.5px;
    height: 114.5px;
  }
  .compltude-des-documents {
    position: relative;
    font-weight: 600;
  }
  .name {
    position: absolute;
    width: 65.31%;
    top: 0;
    right: 16.24%;
    left: 18.45%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: 14px;
  }
  .dataset-child {
    background-color: #cfcfec;
    width: 70px;
    height: 30px;
  }
  .dataset-child,
  .doc1 {
    position: relative;
  }
  .dataset {
    position: absolute;
    width: 43.17%;
    top: 82px;
    right: 56.83%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .dataset-item {
    position: relative;
    background-color: #2626ac;
    width: 70px;
    height: 30px;
  }
  .dataset1 {
    position: absolute;
    width: 43.17%;
    top: 82px;
    right: 0;
    left: 56.83%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .dataset-inner {
    position: relative;
    background-color: #7B7BF3;
    width: 70px;
    height: 30px;
  }
  .dataset2 {
    position: absolute;
    width: 43.17%;
    top: 136px;
    right: 56.83%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .rectangle-div {
    position: relative;
    background-color: #1515e9 ;
    width: 70px;
    height: 30px;
  }
  .dataset3 {
    position: absolute;
    width: 43.17%;
    top: 136px;
    right: 0;
    left: 56.83%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-sm);
  }
  .ellipse-div,
  .group-child1,
  .group-child2,
  .group-child3 {
    position: absolute;
    top: calc(50% + 17.56px);
    left: calc(50% - 111.5px);
    border-radius: 50%;
    border: 0.5px solid var(--gray);
    box-sizing: border-box;
    width: 229.94px;
    height: 229.94px;
  }
  .group-child1,
  .group-child2,
  .group-child3 {
    top: calc(50% + 40.55px);
    left: calc(50% - 88.51px);
    width: 183.95px;
    height: 183.95px;
  }
  .group-child2,
  .group-child3 {
    top: calc(50% + 63.55px);
    left: calc(50% - 65.51px);
    width: 137.96px;
    height: 137.96px;
  }
  .group-child3 {
    top: calc(50% + 86.54px);
    left: calc(50% - 42.52px);
    width: 91.98px;
    height: 91.98px;
  }
  .div,
  .div1,
  .div2,
  .div3 {
    position: absolute;
    top: calc(50% + 81.94px);
    left: calc(50% + 0.71px);
    font-size: 9.88px;
    color: var(--gray);
    display: inline-block;
    width: 6.17px;
    height: 9.47px;
  }
  .div1,
  .div2,
  .div3 {
    top: calc(50% + 58.95px);
    left: calc(50% - 2.05px);
    width: 11.5px;
    height: 9.66px;
  }
  .div2,
  .div3 {
    top: calc(50% + 35.49px);
  }
  .div3 {
    top: calc(50% + 12.5px);
  }
  .ellipse-parent {
    position: absolute;
    top: calc(50% + 270.5px);
    left: calc(50% + 434px);
    width: 271px;
    height: 495px;
    font-size: var(--body-size);
    color: var(--dark-gray);
    font-family: var(--body);
  }
  .kubernetes {
    position: absolute;
    top: 1069px;
    left: 159px;
    font-size: var(--font-size-5xl);
    line-height: 150%;
  }
  .file-earmark-check-fill-icon {
    position: relative;
    width: 22px;
    height: 22px;
  }
  .file-earmark-check-fill-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-xl);
  }
  .frame-div,
  .titre-doc-container,
  .titre-doc-group,
  .titre-doc-parent {
    position: absolute;
    top: 1154px;
    left: 897px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    color: var(--background-dark);
  }
  .frame-div,
  .titre-doc-container,
  .titre-doc-group {
    left: 421px;
    color: var(--dark-blue);
  }
  .frame-div,
  .titre-doc-container {
    left: 159px;
    color: var(--dark-gray);
  }
  .frame-div {
    left: 648px;
    color: var(--purple);
  }
  .bouaziz,
  .ismail,
  .ismailbgmailcom {
    position: absolute;
    top: 0;
    left: 166px;
    line-height: 150%;
  }
  .bouaziz,
  .ismail {
    left: 68px;
  }
  .ismail {
    left: 0;
  }
  .bouaziz-parent,
  .group-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 141px;
    height: 30px;
  }
  .group-icon {
    top: 46px;
    width: 86px;
    height: 16px;
  }
  .ismailbgmailcom-parent {
    position: absolute;
    top: 404px;
    left: 161px;
    width: 344px;
    height: 62px;
  }
  .button1 {
    position: relative;
    line-height: 150%;
  }
  button.create-button {
    margin-right: 1cm;
    background-color: #397BFF;
    border: solid 1px #397BFF;
    border-radius: 5px;
    color: #FFF;
    width: 120px;
    padding:  15px; 
  }
  .button {
    position: absolute;
    top: 1372px;
    left: 159px;
    border-radius: var(--br-9xs);
    background-color: #397BFF;
    background-size: 20px 40px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-21xl);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
    color: var(--light-background);
  }
  .titre-document {
    position: relative;
    letter-spacing: -0.32px;
    display: inline-block;
    width: 297px;
    flex-shrink: 0;
    height : 40px
  }
  .x-icon {
    position: relative;
    width: 11.82px;
    height: 14.09px;
  }
  .input,
  .input-group {
    position: absolute;
    width: 345.88px;
    height: 48px;
  }
  .input {
    top: 0;
    left: 0;
    background-color: var(--stat-gray-light);
    box-shadow: 0 0 0#cbdafc;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 0 var(--padding-xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .input-group {
    top: 1302px;
    left: 159px;
    font-size: var(--forms-input-label-large-size);
    color: var(--background-dark);
    font-family: var(--forms-input-label-large);
  }
  .button-n2,
  .button3 {
    position: absolute;
    top: 1372px;
    border-radius: var(--br-9xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-21xl);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
  }
  .button-n2 {
    left: 360px;
    border: 1px solid var(--background-dark);
    color: var(--background-dark);
  }
  .button3 {
    left: 650.88px;
    background-color: var(--background-dark);
    color: var(--light-background);
  }
  .button-n21,
  .input-group1 {
    position: absolute;
    color: var(--background-dark);
  }
  .input-group1 {
    top: 1302px;
    left: 650.88px;
    width: 345.88px;
    height: 48px;
    font-size: var(--forms-input-label-large-size);
    font-family: var(--forms-input-label-large);
  }
  .button-n21 {
    top: 1372px;
    left: 851.88px;
    border-radius: var(--br-9xs);
    border: 1px solid var(--background-dark);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-21xl);
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--font-size-lg);
  }
  .icon {
    position: absolute;
    top: 3px;
    left: 0;
    width: 12px;
    height: 12px;
  }
  .parent,
  .retournez-en-un {
    position: absolute;
    top: 0;
    left: 32px;
  }
  .parent {
    top: 320px;
    left: 161px;
    width: 305px;
    height: 19px;
    font-size: var(--forms-input-label-default-size);
    color: var(--background-dark);
  }
  .line-div {
    position: absolute;
    top: 63.5px;
    left: -0.5px;
    border-top: 1px solid var(--gray);
    box-sizing: border-box;
    width: 1234px;
    height: 1px;
    opacity: 0.5;
  }
  .monitoring,
  .tunisie {
    position: absolute;
    top: 0;
    left: 0;
  }
  .tunisie {
    top: 49px;
    font-size: var(--font-size-xl);
    line-height: 150%;
  }
  .monitoring-group,
  .monitoring-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 79px;
  }
  .monitoring-group {
    left: 125px;
    width: 59px;
  }
  .group-div,
  .group-parent,
  .monitoring-container {
    position: absolute;
    top: 110px;
    left: 0;
    width: 312px;
    height: 79px;
  }
  .group-div,
  .group-parent {
    top: 220px;
    width: 134px;
  }
  .group-parent {
    top: 138px;
    left: 921px;
    width: 312px;
    height: 299px;
  }
  .monitoring-parent1,
  .monitoring-parent2 {
    position: absolute;
    top: 110px;
    left: 0;
    width: 161px;
    height: 79px;
  }
  .monitoring-parent2 {
    top: 220px;
    width: 155px;
  }
  .group-container,
  .monitoring-parent3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 221px;
    height: 79px;
  }
  .group-container {
    top: 138px;
    left: 464px;
    height: 299px;
  }
  .monitoring-parent4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 116px;
    height: 79px;
  }
  .group-parent2,
  .image-44-icon,
  .monitoring-parent5 {
    position: absolute;
    top: 110px;
    left: 0;
    width: 229px;
    height: 79px;
  }
  .group-parent2,
  .image-44-icon {
    height: 189px;
  }
  .image-44-icon {
    top: 0;
    width: 144px;
    height: 84px;
    object-fit: cover;
  }
  .group-parent1 {
    position: absolute;
    top: 138px;
    left: 0;
    width: 229px;
    height: 299px;
  }
  .pencil-square-icon {
    position: absolute;
    top: 5px;
    left: 1211px;
    width: 26px;
    height: 26px;
  }
  .kubernetes-parent {
    position: absolute;
    top: 531px;
    left: 159px;
    width: 1237px;
    height: 437px;
    font-size: var(--font-size-5xl);
  }
  .admin-des-entreprises-voir-don-item {
    position: absolute;
    top: 121.5px;
    left: 488.5px;
    border-top: 1px solid var(--background-dark1);
    box-sizing: border-box;
    width: 90px;
    height: 1px;
  }
  .admin-des-entreprises-voir-don {
    position: relative;
    background-color: var(--light-background);
    width: 100%;
    height: 1659px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--background-dark1);
    font-family: var(--font-sf-pro);
  }

  

















/* screen - index */

.index {
    background-color: var(--light-background);
    border: 1px none;
    position: relative;
    width: 100%; /* Updated this line to set full width */
    max-width: 1728px; /* You can set a max width here if needed */
    margin: 0 auto; /* This will center the .index div if the viewport is wider than its max width */
  }
  
    .index .grer-les-entreprises {
      height: 38px;
      left: 159px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 228px;
      white-space: nowrap;
    }
    
    .index .line-4 {
      left: 158px;
      top: 565px;
      width: 1233px;
    }
    
    .index .line-8 {
      left: 158px;
      top: 823px;
      width: 1233px;
    }
    
    .index .line-5 {
      left: 158px;
      top: 651px;
      width: 1233px;
    }
    
    .index .line-9 {
      left: 158px;
      top: 909px;
      width: 1233px;
    }
    
    .index .line-6 {
      left: 158px;
      top: 737px;
      width: 1233px;
    }
    
    .index .line-10 {
      left: 158px;
      top: 995px;
      width: 1233px;
    }
    
    .index .line-11 {
      left: 158px;
      top: 1081px;
      width: 1233px;
    }
    
  
    .emplacement-1 {
      top: 593px;
    }
    
    .index .bouazgmailcom-1 {
      top: 851px;
    }
    
    .index .oueshotmailcom {
      top: 679px;
    }
    
    .index .oueshotmailcom-1 {
      top: 937px;
    }
    
    .index .benslimgmailcom {
      top: 765px;
    }
    
    .index .benslimgmailcom-1 {
      top: 1023px;
    }
    
    .index .number {
      height: 30px;
      left: 671px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      top: 593px;
      white-space: nowrap;
    }
    
    .index .number-1 {
      height: 30px;
      left: 670px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      top: 851px;
      white-space: nowrap;
    }
    
    .index .number-2 {
      height: 30px;
      left: 671px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      top: 679px;
      white-space: nowrap;
    }
    
    .index .number-3 {
      height: 30px;
      left: 670px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      top: 937px;
      white-space: nowrap;
    }
    
    .index .number-4 {
      height: 30px;
      left: 671px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      top: 765px;
      white-space: nowrap;
    }
    
    .index .number-5 {
      height: 30px;
      left: 670px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      top: 1023px;
      white-space: nowrap;
    }
    
    .index .kubernetes-1 {
      left: 158px;
    }
    
    .index .kubernetes-2 {
      left: 424px;
    }
    
    .index .ismail {
      top: 593px;
    }
    
    .index .ismail-1 {
      top: 851px;
    }
    
    .index .wejdene {
      top: 679px;
    }
    
    .index .wejdene-1 {
      top: 937px;
    }
    
    .index .imen {
      top: 765px;
    }
    
    .index .imen-1 {
      top: 1023px;
    }
    
    .index .kubernetes-3 {
      left: 1011px;
    }
    
    .index .kubernetes-4 {
      left: 1264px;
    }
    
    .index .group-27028 {
      align-items: flex-start;
      display: flex;
      gap: 30px;
      height: 30px;
      left: 1265px;
      min-width: 130px;
      position: absolute;
      top: 594px;
    }
    
    .index .voir-plus {
      height: 30px;
      letter-spacing: 0;
      line-height: 30px;
      margin-top: 0;
      min-width: 82px;
      white-space: nowrap;
    }
    
    .index .icon-outlinearrow-sm-right {
      align-self: center;
      height: 16px;
      width: 16px;
    }
    
    .index .group-27177 {
      align-items: flex-start;
      display: flex;
      gap: 30px;
      height: 30px;
      left: 1264px;
      min-width: 130px;
      position: absolute;
      top: 852px;
    }
    
    .index .group-27029 {
      align-items: flex-start;
      display: flex;
      gap: 30px;
      height: 30px;
      left: 1265px;
      min-width: 130px;
      position: absolute;
      top: 680px;
    }
    
    .index .group-27178 {
      align-items: flex-start;
      display: flex;
      gap: 30px;
      height: 30px;
      left: 1264px;
      min-width: 130px;
      position: absolute;
      top: 938px;
    }
    
    .index .group-27030 {
      align-items: flex-start;
      display: flex;
      gap: 30px;
      height: 30px;
      left: 1265px;
      min-width: 130px;
      position: absolute;
      top: 766px;
    }
    
    .index .group-27179 {
      align-items: flex-start;
      display: flex;
      gap: 30px;
      height: 30px;
      left: 1264px;
      min-width: 130px;
      position: absolute;
      top: 1024px;
    }
    
    .index .navigation-simple {
      align-items: flex-start;
      background-color: var(--desert-storm);
      border-color: var(--stat-gray-light);
      border-radius: 4px;
      display: inline-flex;
      left: 1190px;
      overflow: hidden;
      position: absolute;
      top: 215px;
    }
    
    .index .group {
      align-items: flex-start;
      display: inline-flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 10px;
      padding: 10px 12px;
      position: relative;
    }  
    .index .rectangle {
      align-self: stretch;
      background-color: var(--stat-gray-light);
      position: relative;
      width: 1px;
    }
    
    .index .number-6 {
      letter-spacing: -0.24px;
      line-height: normal;
      margin-top: -1.00px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }
    
    .index .group-2 {
      align-items: flex-start;
      background-color: var(--light-blue);
      display: inline-flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 10px;
      padding: 10px 12px;
      position: relative;
    }
    
    .index .x1-1 {
      color: var(--desert-storm);
      font-family: var(--font-family-sf_pro_text-medium);
      font-size: var(--font-size-xs);
      font-weight: 500;
    }
    
    .index .group-27171 {
      align-items: flex-start;
      display: flex;
      gap: 19px;
      height: 16px;
      left: 190px;
      min-width: 86px;
      position: absolute;
      top: 410px;
    }
    
    .index .x-fill {
      height: 16px;
      width: 16px;
    }
    
    .index .group-27180 {
      align-items: flex-start;
      display: flex;
      gap: 19px;
      height: 16px;
      left: 1010px;
      min-width: 86px;
      position: absolute;
      top: 859px;
    }
    
    .index .group-27172 {
      align-items: flex-start;
      display: flex;
      gap: 18px;
      height: 16px;
      left: 1011px;
      min-width: 86px;
      position: absolute;
      top: 687px;
    }
    
    .index .group-2702 {
      align-items: flex-start;
      display: flex;
      gap: 20px;
      min-width: 52px;
    }
    
    .index .group-27181 {
      align-items: flex-start;
      display: flex;
      gap: 18px;
      height: 16px;
      left: 1010px;
      min-width: 86px;
      position: absolute;
      top: 945px;
    }
    
    .index .group-27173 {
      align-items: flex-start;
      display: flex;
      gap: 18px;
      height: 16px;
      left: 1011px;
      min-width: 86px;
      position: absolute;
      top: 780px;
    }
    
    .index .group-27182 {
      align-items: flex-start;
      display: flex;
      gap: 18px;
      height: 16px;
      left: 1010px;
      min-width: 86px;
      position: absolute;
      top: 1038px;
    }
    
    .index .filtre-membres {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      gap: 8px;
      height: 63px;
      left: 407px;
      position: absolute;
      top: 353px;
      width: 200px;
    }
    
    .index .select-group {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      flex: 0 0 auto;
      position: relative;
      width: 100%;
    }
    
    .index .select-base {
      align-items: center;
      background-color: var(--light-background);
      border: 1px solid;
      border-color: var(--gray);
      border-radius: 4px;
      box-shadow: 0px 0px 0px #cbdafc;
      display: flex;
      flex: 1;
      flex-grow: 1;
      gap: 10px;
      overflow: hidden;
      padding: 9px 12px;
      position: relative;
    }
    
    .index .select {
      color: var(--background-dark);
      flex: 1;
      font-family: var(--font-family-sf_pro_text-regular);
      font-size: var(--font-size-xxs2);
      font-weight: 400;
      height: 20px;
      letter-spacing: -0.32px;
      line-height: normal;
      margin-top: -1.00px;
      position: relative;
    }
    
    .index .frame {
      height: 16px;
      position: relative;
      width: 16px;
    }
    
    .index .note {
      align-self: stretch;
      color: var(--gray);
      font-family: var(--font-family-sf_pro_text-regular);
      font-size: var(--font-size-xs2);
      font-weight: 400;
      letter-spacing: -0.15px;
      line-height: normal;
      position: relative;
      color:  grey;
    }
    
    .index .group-182 {
      align-items: flex-start;
      display: flex;
      height: 42px;
      justify-content: center;
      left: 159px;
      min-width: 198px;
      position: absolute;
      top: 353px;
    }
    
    .index .search {
      align-items: center;
      border: 0.7px solid;
      border-color: var(--dark-gray);
      border-radius: 4px;
      box-shadow: 0px 0px 0px #cbdafc;
      display: flex;
      gap: 40px;
      height: 43.36px;
      justify-content: center;
      margin-top: -0.7px;
      opacity: 0.5;
      overflow: hidden;
      padding: 0px 12px;
      position: relative;
      width: 199.4px;
    }
    
    .index .trouver-une-entreprise {
      flex: 1;
      letter-spacing: -0.32px;
      line-height: normal;
      opacity: 0.4;
      position: relative;
    }
    
    .index .trouver-une-entreprise-1 {
      left: 159px;
      letter-spacing: -0.32px;
      line-height: normal;
      position: absolute;
      top: 313px;
      white-space: nowrap;
    }
    
    .index .navigation {
      align-items: center;
      display: inline-flex;
      gap: 40px;
      justify-content: center;
      left: 392px;
      position: absolute;
      top: 95px;
    }
    
    .index .navigation-item {
      letter-spacing: 0;
      line-height: 24px;
      margin-top: -1.00px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }
    
    .index .solutions {
    }
    
    .index .entreprises {
      height: 24px;
      left: 0;
      letter-spacing: 0;
      line-height: 24px;
      position: absolute;
      top: 0;
      white-space: nowrap;
    }
    
    .index .logo-with-company-name {
      height: 31px;
      left: 159px;
      position: absolute;
      top: 92px;
      width: 96px;
    }
    
    .index .flags {
      align-items: flex-start;
      display: flex;
      gap: 4068px;
      height: 53px;
      left: 1390px;
      min-width: 30px;
      position: absolute;
      top: 95px;
    }
    
    .index .image-39 {
      margin-top: -3909px;
    }
    
    .index .search-1 {
      align-items: center;
      border: 0.7px solid;
      border-color: var(--dark-gray);
      border-radius: 4px;
      box-shadow: 0px 0px 0px #cbdafc;
      display: flex;
      gap: 40px;
      height: 43.36px;
      justify-content: center;
      left: 1100px;
      opacity: 0.5;
      overflow: hidden;
      padding: 0px 12px;
      position: absolute;
      top: 86px;
      width: 199.4px;
    }
    
    .index .search-2 {
      flex: 1;
      letter-spacing: -0.32px;
      line-height: normal;
      opacity: 0.4;
      position: relative;
    }
    
    .index .line-2 {
      left: 470px;
      top: 121px;
      width: 89px;
    }
    
    .index .benslimgmailcom-2 {
      height: 30px;
      left: 424px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      white-space: nowrap;
    }
    
    .index .bouazgmailcom-2 {
      height: 30px;
      left: 424px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      white-space: nowrap;
    }
    
    .index .image {
      height: 23px;
      object-fit: cover;
      width: 30px;
    }
    
    .index .imen-2 {
      height: 30px;
      left: 158px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      white-space: nowrap;
    }
    
    .index .ismail-2 {
      height: 30px;
      left: 158px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      white-space: nowrap;
    }
    
    .index .kubernetes-5 {
      height: 36px;
      letter-spacing: 0;
      line-height: 36px;
      position: absolute;
      top: 501px;
      white-space: nowrap;
    }
    
    .index .line {
      height: 1px;
      object-fit: cover;
      position: absolute;
    }
    
    .index .oueshotmailcom-2 {
      height: 30px;
      left: 424px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      white-space: nowrap;
    }
    
    .index .wejdene-2 {
      height: 30px;
      left: 158px;
      letter-spacing: 0;
      line-height: 30px;
      position: absolute;
      white-space: nowrap;
    }
    
    .index .x1-4 {
      letter-spacing: -0.24px;
      line-height: normal;
      margin-top: -1.00px;
      position: relative;
      white-space: nowrap;
      width: fit-content;
    }
    
    @font-face {
      font-family: "SF Pro-Bold";
      font-style: normal;
      font-weight: 700;
      src: url("https://fonts.animaapp.com/SFPro-Bold") format("truetype");
    }
    @font-face {
      font-family: "SF Pro-Regular";
      font-style: normal;
      font-weight: 400;
      src: url("https://fonts.animaapp.com/SFPro-Regular") format("truetype");
    }
    @font-face {
      font-family: "SF Pro-Medium";
      font-style: normal;
      font-weight: 500;
      src: url("https://fonts.animaapp.com/SFPro-Medium") format("truetype");
    }
    @font-face {
      font-family: "SF Pro Text-Medium";
      font-style: normal;
      font-weight: 500;
      src: url("https://fonts.animaapp.com/SFProText-Medium") format("opentype");
    }
    @font-face {
      font-family: "SF Pro Text-Regular";
      font-style: normal;
      font-weight: 400;
      src: url("https://fonts.animaapp.com/SFProText-Regular") format("truetype");
    }
    
    
    .screen a {
      display: contents;
      text-decoration: none;
    }
    
    .container-center-horizontal {
      display: flex;
      justify-content: center;
    }
    
    .container-center-horizontal > * {
      flex-shrink: 0;
      pointer-events: auto;
    }
    
    .valign-text-middle {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    * {
      box-sizing: border-box;
    }
    :root { 
      --background-dark: #030911;
      --black: #000000;
      --dark-gray: #707070;
      --desert-storm: #f8f8f8;
      --gray: #989898;
      --light-background: #f3f3f3;
      --light-blue: #397bff;
      --stat-gray-light: #e9ecee;
     
      --font-size-l2: 32px;
      --font-size-m: 20px;
      --font-size-m2: 24px;
      --font-size-s2: 16px;
      --font-size-xs: 15px;
      --font-size-xs2: 14px;
      --font-size-xxs2: 13px;
     
      --font-family-sf_pro-bold: "SF Pro-Bold", Helvetica;
      --font-family-sf_pro-medium: "SF Pro-Medium", Helvetica;
      --font-family-sf_pro-regular: "SF Pro-Regular", Helvetica;
      --font-family-sf_pro_text-medium: "SF Pro Text-Medium", Helvetica;
      --font-family-sf_pro_text-regular: "SF Pro Text-Regular", Helvetica;
    }
    .sfpro-regular-normal-jaguar-20px {
      color: var(--background-dark);
      font-family: var(--font-family-sf_pro-regular);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 400;
    }
    
    .sfpro-medium-jaguar-20px {
      color: var(--background-dark);
      font-family: var(--font-family-sf_pro-medium);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 500;
    }
    
    .sfpro-bold-jaguar-24px {
      color: var(--background-dark);
      font-family: var(--font-family-sf_pro-bold);
      font-size: var(--font-size-m2);
      font-style: normal;
      font-weight: 700;
    }
    
    .sfprotext-medium-blue-15px {
      color: var(--light-blue);
      font-family: var(--font-family-sf_pro_text-medium);
      font-size: var(--font-size-xs);
      font-style: normal;
      font-weight: 500;
    }
    
    .sfprotext-regular-normal-jaguar-16px {
      color: var(--background-dark);
      font-family: var(--font-family-sf_pro_text-regular);
      font-size: var(--font-size-s2);
      font-style: normal;
      font-weight: 400;
    }
    
    .sfpro-medium-jaguar-16px {
      color: var(--background-dark);
      font-family: var(--font-family-sf_pro-medium);
      font-size: var(--font-size-s2);
      font-style: normal;
      font-weight: 500;
    }
    
    .sfpro-bold-jaguar-32px {
      color: var(--background-dark);
      font-family: var(--font-family-sf_pro-bold);
      font-style: normal;
      font-weight: 700; 
    }
    body {
      margin: 0;
      background: #ffff;
    }
  
  
    /* Add this CSS to set .index to take full width */
    .index .group-2 {
      align-items: flex-start;
      background-color: var(--light-blue);
      display: inline-flex;
      flex: 0 0 auto;
      flex-direction: column;
      gap: 10px;
      padding: 10px 12px;
      position: relative;
      background-color: #397BFF;
    }
  .cdf{
    margin-top:  540px !important ;
    margin-left: 130px  !important;
    border-collapse: collapse; /* Optional, to collapse the borders between cells */
  
  }
  .cdf th,
  .cdf td {
    padding: 50px; /* Adjust the padding as needed to create the desired spacing */
    text-align: center; /* Center the content horizontally within each cell */
  }
  .bc {
    margin-top: -35px !important ;
  }
  .cdf tr:not(:first-child) {
    border-top: -40px solid transparent; /* Adjust this value to control the vertical spacing between rows */
  }
  









  div.bordure {
    border-bottom:7px solid black;
    }
    