<!DOCTYPE html>
<html>
 
        
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">



<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse ">
    <div class="position-sticky"> 
        <div class="list-group list-group-flush mx-3 mt-4">
            <div class="col-1 col-md-auto border-bottom" >
                <img  class="logo0 " id="logoi" src="assets/icons/logol.png" width="15px" >
                <p id="logon" class="mt-0">Cumulus</p>
                </div>
        </div>
        <div class="list-group list-group-flush mx-3 mt-4 background">
            <a href="http://localhost:4200/dashboard"  class="list-group-item list-group-item-action py-2 ripple" aria-current="true"  [ngClass]="{'active': isHistoriquePage}">
                <i class="fas fa-home fa-lg" style="color: #6595e6;"></i><span class="span-color"  >&nbsp; &nbsp;Dashboard</span>
            </a>
            <a href="http://localhost:4200/entreprise/dash" class="list-group-item list-group-item-action py-2 ripple ">
                <i class="fas fa-building fa-lg" style="color: #6595e6;"></i>   <span class="span-color"  > &nbsp; &nbsp;Profil entreprise</span>
            </a>
            <a href="http://localhost:4200/membres"  class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-user-friends fa-lg" style="color: #6595e6;"></i>
                <span class="span-color"> &nbsp; &nbsp;Membres</span></a>
            <a href="http://localhost:4200/support" class="list-group-item list-group-item-action py-2 ripple"><i class="fas fa-question-circle fa-lg" style="color: #6595e6;" ></i><span class="span-color">&nbsp; &nbsp; Support</span></a>
            <a href="http://localhost:4200/historique" class="list-group-item list-group-item-action py-2 ripple" 
           >
            <i class="fas fa-history fa-lg" style="color: #6595e6;"></i>
            <span class="span-color"> &nbsp; &nbsp;Historique</span>
          </a>
          
        </div>
    </div>
</nav>






  <body style="margin: 0; background: #ffff">
    <input type="hidden" id="anPageName" name="page" value="index" />
    <div class="container-center-horizontal ">
      <div class="index screen zoom-80">
        
        <div class="group-container">
          <div class="overlap-group2">
           
          </div>
          <div class="group-26986">
            
          </div>
          <div class="group-26987">
            <div class="group-26985">
              <div class="group-26983">
                <div class="services-les-plus-utiliss name">Services les plus utilisés</div>
                <div class="dataset-1 dataset-3">
                  <div class="component-3"></div>
                  <div class="service body">Service</div>
                </div>
                <div class="dataset-2 dataset-3">
                  <div class="component-4"></div>
                  <div class="service body">Service</div>
                </div>
              </div>
              <div class="group-26984 body">
                <div class="flex-col flex">
                  <div class="text-1">1,000</div>
                  <div class="number-1 number-3">800</div>
                  <div class="number-1 number-3">600</div>
                  <div class="number-1 number-3">400</div>
                  <div class="number-1 number-3">200</div>
                  <div class="number-2 number-3">0</div>
                </div>
                <div class="overlap-group1">
                  <div class="overlap-group">
                    <img
                      class="vector-46"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/vector-46.svg"
                      alt="Vector 46"
                    />
                    <img
                      class="vector-55"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/vector-55.svg"
                      alt="Vector 55"
                    />
                    <img
                      class="vector-47"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/vector-47.svg"
                      alt="Vector 47"
                    />
                    <img
                      class="vector-48"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/vector-48.svg"
                      alt="Vector 48"
                    />
                    <img
                      class="vector-49"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/vector-49.svg"
                      alt="Vector 49"
                    />
                    <img
                      class="vector-51"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/vector-51.svg"
                      alt="Vector 51"
                    />
                    <img
                      class="vector-52"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/vector-52.svg"
                      alt="Vector 52"
                    />
                    <img
                      class="vector-53"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/vector-53.svg"
                      alt="Vector 53"
                    />
                    <img
                      class="vector-54"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/vector-54.svg"
                      alt="Vector 54"
                    />
                    <div class="component-14"></div>
                    <div class="component-15"></div>
                    <div class="component-16"></div>
                    <div class="component-17"></div>
                    <div class="component-18"></div>
                    <div class="component-19"></div>
                  </div>
                  <div class="january">January</div>
                  <div class="february">February</div>
                  <div class="place">March</div>
                </div>
              </div>
            </div>
            <div class="group-26982">
              <div class="group-26980">
                <div class="top-services name">Top services</div>
                <div class="dataset-3">
                  <div class="component-3"></div>
                  <div class="service body">Service</div>
                </div>
                <div class="dataset-3">
                  <div class="component-4"></div>
                  <div class="service body">Service</div>
                </div>
                <div class="dataset-3">
                  <div class="component-5"></div>
                  <div class="service body">Service</div>
                </div>
              </div>
              <div class="overlap-group-1">
                <img
                  class="component-7"
                  src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/component-7.svg"
                  alt="Component 7"
                />
                <img
                  class="component-6"
                  src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/component-6.svg"
                  alt="Component 6"
                />
                <img
                  class="union"
                  src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/union.svg"
                  alt="Union"
                />
              </div>
            </div>
          </div>
          <div class="group-26973">
            <div class="group-26971">
              <h1 class="kubernetes valign-text-middle sfpro-bold-jaguar-24px">Événements</h1>
              <img
                class="line line-1"
                src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/line-4.svg"
                alt="Line 4"
              />
              <div class="vnement valign-text-middle sfpro-regular-normal-jaguar-20px">Événement</div>
              <img
                class="line line-1"
                src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/line-4.svg"
                alt="Line 5"
              />
              <div class="vnement valign-text-middle sfpro-regular-normal-jaguar-20px">Événement</div>
              <img
                class="line line-1"
                src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/line-4.svg"
                alt="Line 6"
              />
              <div class="vnement valign-text-middle sfpro-regular-normal-jaguar-20px">Événement</div>
              <img
                class="line-7 line-1"
                src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/line-4.svg"
                alt="Line 7"
              />
              <div class="vnement valign-text-middle sfpro-regular-normal-jaguar-20px">Événement</div>
            </div>
            <div class="group-26972">
              <div class="group-194">
                <div class="monitoring-1 valign-text-middle sfpro-bold-jaguar-24px">Découvrez nos packs</div>
                <img
                  class="icon"
                  src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64beec40024f17547b23c1a8/img/icon.svg"
                  alt="Icon"
                />
              </div>
              <div class="group-26968">
                <div class="group-container-1 group-container-3">
                  <div class="group-191">
                    <div class="flex-col-1">
                      <div class="monitoring valign-text-middle sfpro-bold-jaguar-24px">Pack n°1</div>
                      <div class="monitoringvm valign-text-middle sfpro-regular-normal-jaguar-20px">
                        Monitoring,VM,...
                      </div>
                      <div class="en-savoir-plus-1 valign-text-middle sfpro-medium-jaguar-20px">En savoir plus</div>
                    </div>
                    <img
                      class="icon-outlinearrow-sm-right-1"
                      src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/icon-outline-arrow-sm-right.svg"
                      alt="Icon/Outline/arrow-sm-right"
                    />
                  </div>
                  <div class="group-19">
                    <div class="monitoring valign-text-middle sfpro-bold-jaguar-24px">Pack n°3</div>
                    <div class="monitoring-openstack valign-text-middle sfpro-regular-normal-jaguar-20px">
                      Monitoring,Openstack,...
                    </div>
                    <div class="flex-row flex">
                      <div class="en-savoir-plus valign-text-middle sfpro-medium-jaguar-20px">En savoir plus</div>
                      <img
                        class="icon-outlinearrow-sm-right"
                        src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/icon-outline-arrow-sm-right.svg"
                        alt="Icon/Outline/arrow-sm-right"
                      />
                    </div>
                  </div>
                </div>
                <div class="group-container-2 group-container-3">
                  <div class="group-192">
                    <div class="monitoring valign-text-middle sfpro-bold-jaguar-24px">Pack n°2</div>
                    <div class="monitoring-kubernetes valign-text-middle sfpro-regular-normal-jaguar-20px">
                      Monitoring,Kubernetes,...
                    </div>
                    <div class="flex-row flex">
                      <div class="en-savoir-plus valign-text-middle sfpro-medium-jaguar-20px">En savoir plus</div>
                      <img
                        class="icon-outlinearrow-sm-right"
                        src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/icon-outline-arrow-sm-right.svg"
                        alt="Icon/Outline/arrow-sm-right"
                      />
                    </div>
                  </div>
                  <div class="group-19">
                    <div class="monitoring valign-text-middle sfpro-bold-jaguar-24px">Pack n°4</div>
                    <div class="monitoring-openstack-1 valign-text-middle sfpro-regular-normal-jaguar-20px">
                      Monitoring,Openstack,...
                    </div>
                    <div class="flex-row flex">
                      <div class="en-savoir-plus valign-text-middle sfpro-medium-jaguar-20px">En savoir plus</div>
                      <img
                        class="icon-outlinearrow-sm-right"
                        src="https://anima-uploads.s3.amazonaws.com/projects/64be6b246790c1e777e82014/releases/64c5295c80f64e0976f2f8d0/img/icon-outline-arrow-sm-right.svg"
                        alt="Icon/Outline/arrow-sm-right"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
