<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bienvenue !</title>



</head>

<body>

  <!--navbar-->

  <!--END NAV-->

  <!--chatbot-->

  <!--End chatbot-->


  <!--HOME-->
  <section id="home">
    <div class="container container-fluid flex-wrap mt-5" width="auto">
      <div class="row flex-row flex-wrap d-flex justify-content-center ">
        <div class="col-md-6">
          <h5 class="fw-bold"> Cumulus, seulement si vous voulez ce qu’il y a de mieux.</h5>
          <h1 class=" mt-4 fw-bold">Votre cloud <br>à portée de main</h1>
          <p class="mt-4 mb-4 lead  col-md-7 para">La plateforme cumulus est conçue
            pour vous aider à donner vie à de nouvelles solutions, afin de relever les défis actuels et de créer
            l’avenir.
          </p>
          <a href="inscription.html">
            <div class="btn cta mt-2 mb-5 text-center " width="auto">Commencer</div>
          </a>

        </div>
        <div class="col-md-6 ">
          <img src="assets/images/i1.svg" class="img-fluid img-responsive ms-3 mt-2 mb-3" width="85%">
        </div>
      </div>
    </div>
  </section>
  <!--END HOME-->



  <!--pourquoi-->
  <section class="pourquoi" width="auto" class="container flex-wrap">
    <div class="d-flex justify-content-center">
      <h2 class="text-center  mt-5">Pourquoi cumulus ?</h2>
    </div>
    <div class="row flex-row flex-wrap p-5 mt-4 d-flex justify-content-center ">
      <div></div>
      <div class="col-md-2 text-center ">
        <img width="44%" src="assets/images/Interactif.png" class="img-fluid">
        <h4 class=" text-center mt-4">Interactif</h4>
      </div>
      <div class="col-md-2 text-center ">
        <img width="42%" src="assets/images/Rentable.png" class="img-fluid">
        <h4 class=" text-center mt-4">Rentable</h4>
      </div>
      <div class="col-md-2 text-center ">
        <img width="40%" src="assets/images/Sécurisé.png" class="img-fluid">
        <h4 class=" text-center mt-4">Sécurisé </h4>
      </div>
      <div class="col-md-2 text-center ">
        <img width="41%" src="assets/images/Innovant.png" class="img-fluid">
        <h4 class=" text-center mt-4"> Innovant</h4>
      </div>
      <div class="col-md-1 text-center  mt-4 mb-5">
        <a class="scroll-down" width="auto">
          <h4 class="d-flex justify-content-center PC">En savoir plus →</h4>
        </a>
      </div>
    </div>

  </section>
  <!-- End pourquoi-->

  <!--Comment-->
  <section class="comment" width="auto">
    <div class="text-center">
      <div class="mt-5"></div>
      <h2 class="text-center fw-bold mt-5 mb-5">Comment ça fonctionne ?</h2>
    </div>
    <div class="container flex-wrap container">
      <div class="row flex-row flex-wrap d-flex  mt-5 " width="auto">
        <div class="col-md-7">
          <h5 class="fw-bold">Cumulus, la clé du succès.</h5>
          <p class="col-10 mt-3 mb-5 lead ">Cumulus est une plateforme ergonomique très simple à utiliser, il suffit de
            créer son compte
            d'accéder à son profile et puis de tout simplement gérer ses services à travers le tableau de bord, pour
            plus d'informations veuillez
            regarder cette vidéo explicative →
          </p>

        </div>
        <div class="col-md-5 mt-2" width="auto">
          <img src="/assets/images/video.png" class="img-fluid img-responsive text-center" width="90%">
        </div>
      </div>
    </div>
  </section>
  <!--End Comment-->

  <!--Service-->
  <section id="service" width="auto">

    <div class="text-align center ">
      <h2 class="text-center  mt-5 mb-5">Top services</h2>
    </div>
    <div class="container flex-wrap">
      <div class="row flex-row flex-wrap mt-4 text-center d-flex justify-content-center">

        <div class="card col-md-3 mt-2" width="auto" id="card">
          <img src="assets/images/Monitoring.svg" width="40%" class=" mt-5 justify-content-center text-center" id="M">
          <div class="card-body-fluid">
            <p class="card-title mt-2 fw-bold">Monitoring</p>
            <p class="card-text  mt-3">
              Consulter les données relatives au service Monitoring.</p>
            <div class="btn cta mt-5 mb-4 ms-1 " width="40%" width="auto" href="#">Consulter</div>

          </div>
        </div>


        <div class="card col-md-3 mt-2" width="auto" id="card">
          <img src="/assets/images/vm.svg" width="40%" class=" mt-5 justify-content-center text-center" id="VM">
          <div class="card-body-fluid">
            <p class="card-title mt-2 fw-bold">Virtual Machine</p>
            <p class="card-text  mt-3">Consulter les données relatives au service Virtual Machine.</p>
            <div class="btn cta mt-5 mb-4 ms-1 " width="auto" width="40%" href="#">Consulter</div>
          </div>
        </div>


        <div class="card col-md-3 mt-2" width="auto" id="card">
          <img src="assets/images/kubernetes.svg" width="40%" class=" mt-5 justify-content-center text-center" id="K">
          <div class="card-body-fluid">
            <p class="card-title mt-2 fw-bold">Kubernetes</p>
            <p class="card-text  mt-3">Consulter les données relatives au service Kubernetes.</p>
            <div class="btn cta mt-5 mb-5 ms-1 " width="auto" width="140px" href="#">Consulter</div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- End Service-->

  <!-- clients-->
  <section id="clients">
    <h2 class="text-center  mt-5">Nos clients</h2>
    <div class="container flex-wrap mt-5">

      <div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class=" d-flex justify-content-center">
              <img src="assets/images/client1.png" width="8%" height="8%">
              <img src="assets/images/client2.png" width="8%" height="8%">
              <img src="assets/images/client3.png" width="8%" height="8%">
              <img src="assets/images/client4.png" width="8%" height="8%">
            </div>
          </div>



          <div class="carousel-item " data-bs-interval="2000">
            <div class=" d-flex justify-content-center">
              <img src="assets/images/client1.png" width="8%" height="8%">
              <img src="assets/images/client2.png" width="8%" height="8%">
              <img src="assets/images/client3.png" width="8%" height="8%">
              <img src="assets/images/client4.png" width="8%" height="8%">
            </div>

          </div>

        </div>


        <button class="carousel-control-prev flex-wrap" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev">
          <span aria-hidden="true"><img src="assets/icons/gauche.svg" width="65%"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next flex-wrap" type="button" data-bs-target="#carouselExampleInterval"
          data-bs-slide="next">
          <span aria-hidden="true"><img src="assets/icons/droite.svg" width="65%"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    </div>

  </section>
  <!--End clients-->


  <!-- Back to top button -->
  <button type="button" class="btn btn-danger btn-floating btn-lg text-center" id="btn-back-to-top">
    <i class="fas fa-arrow-up"></i>
  </button>
  <!-- Back to top button -->

  <!-- Footer -->

  <!-- End Footer -->

</body>

</html>